.container {
    display: flex;
  }
  .main {
    width: 70%;
    height: 800px;
    /* border: 2px solid black; */
    margin: 5px;
  }
   
  .aside {
    width: 30%;
    height: 400px;
    /* border: 2px solid black; */
    margin: 5px;
    padding-top: 30px;
  }
  .lower {
    margin: 5px;
    /* border: 2px solid red; */
    height: auto;
    display: flex;
    justify-content: space-around;
  }
  .upper {
    margin: 5px;
    /* border: 2px solid red; */
    height: auto;
    display: flex;
    justify-content: space-around;
  }
  .image-u {
    width: 100px;
    height: auto;
    /* background-color: aqua; */
    font-size: large;
    font-style: bold;
    font-weight: 700;
   
    overflow: hidden;
  }
  .details-u {
    width: 200px;
    height: auto;
    font-size: large;
    font-style: bold;
    font-weight: 700;
    /* border: 2px solid rgb(85, 18, 201); */
  }
  .price-u {
    width: 100px;
    height: auto;
    font-size: large;
    font-style: bold;
    font-weight: 700;
    /* background-color: rgb(218, 26, 154); */
  }
  .quantity-u {
    width: 100px;
    height: auto;
    font-size: large;
    font-style: bold;
    font-weight: 700;
    /* background-color: rgb(30, 184, 22); */
  }
  .total-u {
    width: 100px;
    height: auto;
    /* border: 2px solid rgb(21, 218, 169); */
  }
  .delete-u {
    width: 100px;
    height: auto;
    font-size: large;
    font-style: bold;
    font-weight: 700;
    /* border: 2px solid rgb(21, 218, 169); */
  }
  .image {
    width: 100px;
    height: auto;
    /* background-color: aqua; */
   
    overflow: hidden;
  }
  .details {
    width: 200px;
    height: auto;
   
    /* border: 2px solid rgb(85, 18, 201); */
  }
  .price {
    width: 100px;
    height: 100px;
    /* background-color: rgb(218, 26, 154); */
  }
  .quantity {
    width: 100px;
    height: 100px;
    /* background-color: rgb(30, 184, 22); */
  }
  .total {
    width: 100px;
    height: 100px;
    /* border: 2px solid rgb(21, 218, 169); */
  }
  .delete {
    width: 100px;
    height: 100px;
    /* border: 2px solid rgb(21, 218, 169); */
  }
  .checkout {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
   