<div class="outer-div">
    <div class="inner-div text-center">
        <span class="badge  mt-4"><h3>Register</h3></span>
     
        @if(loginerrorrsatuts) {
 
          <div class="errormessage mt-2">
            <p class="fs-2 text-danger">{{ loginerrormessage }}</p>
          </div>
          }
            <form [formGroup]="registrationform" (ngSubmit)="onsubmit()">
                <div class="form-group pl-3 pr-3  mt-4">
                  <!-- <label for="username">Username</label> -->
                  <input type="text" class="form-control" id="username" placeholder="username" formControlName="username">
               
                <!-- @if(username?.errors?.['required']&&(username?.touched||username?.dirty)){ -->
                <div class="form-text text-danger" *ngIf="username?.errors?.['required']&&(username?.touched||username?.dirty)">
                  username is required
                </div>
              <!-- } -->
                <!-- @if(username?.errors?.['minLength']&&(username?.touched||username?.dirty )){ -->
                <div class="form-text text-danger" *ngIf="username?.errors?.['minlength']&&(username?.touched||username?.dirty)">
                  min length is 4
                </div>
 
              </div>
              <!-- } -->
                <div class="form-group p-2 pl-3 pr-3 ">
                  <!-- <label for="username">Username</label> -->
                  <input type="email" class="form-control" id="email" placeholder="email" formControlName="email">
               
                @if(email?.errors?.['email']&&(email?.touched||email?.dirty)){
                  <div class="form-text text-danger">
                   invalid email
                  </div>
                }
              </div>
                <div class="form-group  p-2 pl-3 pr-3">
                  <!-- <label for="password">Password</label> -->
                  <input type="password" class="form-control " id="formGroupExampleInputpassword" placeholder="password" formControlName="password">
               
                @if(password?.errors?.['required']&&(password?.touched||password?.dirty)){
                  <div class="form-text text-danger">
                    password is required
                  </div>
                }
                <div class="form-text text-danger" *ngIf="password?.errors?.['minlength']&&(password?.touched||password?.dirty)">
                  min length is 4
                </div>
              </div>
               
                  <button type="submit" class="btn btn-primary mb-2" [disabled]="registrationform.invalid">Submit</button>
                  <div class="form-check mb-2 mr-sm-2 pl-3 pr-3">
                    <a class="" (click)="rediect()">Already have account? login.</a>  
                   
                  </div>
              </form>
             
       
    </div>
</div>
 
